<div id="edit-root">
    <div [class.hideWhenColorRangeChange]="isHidden">
        <p (click)="getBlackAndWhite()">BLACK&WHITE</p>
        <p (click)="openSaturation()">SATURATION</p>
        <div *ngIf="saturationMenu">
            <input [(ngModel)]="saturation" (change)="getSaturationChangedImage()" min="-100" max="100"
                id="saturationInput" type="range">
            <p id="saturationValue">{{saturation}}</p>
        </div>
        <p (click)="showColorChange(); hideForColorRangeChange()">COLOR RANGE CHANGE</p>
    </div>
    <div id="color-change-input-block" *ngIf="colorChange">
        <div id="from">
            <p>From</p>
            <label for="red">Red</label>
            <input id="red" name="red">
            <label for="green">Green</label>
            <input id="green" name="green">
            <label for="blue">Blue</label>
            <input id="blue" name="blue">
        </div>
        <div id="to">
            <p>To</p>
            <label for="red">Red</label>
            <input id="red" name="red">
            <label for="green">Green</label>
            <input id="green" name="green">
            <label for="blue">Blue</label>
            <input id="blue" name="blue">
        </div>
        <div (keyup.enter)="changeColorRange()" id="newColor">
            <p>New Color</p>
            <label for="red">Red</label>
            <input id="red" name="red">
            <label for="green">Green</label>
            <input id="green" name="green">
            <label for="blue">Blue</label>
            <input id="blue" name="blue">
        </div>
    </div>

</div>